
     <div class="container" id="main-content">
           <div class="card-border" id="status-border">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                   <div id="id">{{voter.id}}</div>  
      <div id="voterId">{{voter.voterId}}</div>
                    <div class="row">
                        <div class="col-5">
                            <div class="flex-table address">
                            <h4><id="party">{{voter.party}}</id></h4>
                            <h4><id="status">{{voter.status}}</id></h4>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="flex-table address">
                            <h4><div id="firstName">{{voter.firstName}}</div></h4>
                            <h4><div id="middleName">{{voter.middleName}}</div></h4>
                            <h4><div id="lastName">{{voter.lastName}}</div></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-7">
                            <div class="flex-table address">
                                <h4><id class="streetNumber">{{voter.streetNum}}</id></h4>
                                <h4><id class="streetName">{{voter.streetName}}</id></h4>
                                <h4><id class="unitNum">{{voter.unitNum}},</id></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div class="flex-table address">
                                <h4><id class="city">{{voter.city}},</id></h4>
                                <h4><id class="state">{{voter.state}}</id></h4>
                                <h4><id class="zip">{{voter.zipcode}}</id></h4>
                            </div>
                        </div>
                    </div>
                </h4>
            </div>
        </div>


     
        

        <div class="card">
            <div class="card-block">
<div id="survey">
      <h5>Did you knock?</h5>
      <form action="">
        <input type="radio" name="knock" value="1"> Yes<br>
        <input type="radio" name="knock" value="0"> No<br>
      </form>
      <br>
      <h5>Did you hand out literature?</h5>
      <form action="">
        <input type="radio" name="literature" value="1"> Yes<br>
        <input type="radio" name="literature" value="0"> No<br>
      </form>
      <br>
      <h5>Did they sign petition?</h5>
      <form action="">
        <input type="radio" name="petition" value="1"> Yes<br>
        <input type="radio" name="petition" value="0"> No<br>
      </form>
      <br>
      <h5> Extra Contact</h5>
      <div id="extraContact">
        <label for="inputEmail">Email: </label>
        <input type="email" class="form-control" id="extraEmail" placeholder="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <label for="inputPhone">Phone: </label>
        <input type="phone" class="form-control" id="extraPhone" placeholder="(***)  *** - ****">
      </div>

      <br>
          
    <button type="submit" class="btn btn-default btn-primary" id="add-interactions-button">Submit</button>

           
              </div>
 </div>

        </div>
        </div>
        
      
 
