
     <div class="container" id="main-content">
      <div class="jumbotron">
        <!-- Knocking Button -->
      
        <div class="row-col-10">
          <div class="flex-table">
              <h1><div id="id">{{voter.id}}</div></h1>
              <h1><div id="voterId">{{voter.voterId}}</div></h1>
              <h1><div id="firstName">{{voter.firstName}}</div></h1>
              <h1><div id="middleName">{{voter.middleName}}</div></h1>
              <h1><div id="lastName">{{voter.lastName}}</div></h1>
          </div>
        </div>
        
        <div class="row-col-10">
          <div class="flex-table">
              <h3><id="streetNumber">{{voter.streetNum}}</id></h3>
              <h3><id="streetName">{{voter.streetName}}</id></h3>
              <h3><id="unitNum">{{voter.unitNum}}</id></h3>
          </div>
        </div>

        <div class="row-col-10">
          <div class="flex-table">
              <h3><id="city">{{voter.city}},</id></h3>
              <h3><id="zip">{{voter.zip}}</id></h3>
          </div>
        </div>

 <div class="district-box">
<div container="survey">
  <br>

      <h5>Did you knock?</h5>
      <form action="">
        <input type="radio" name="knock" value="1"> Yes<br>
        <input type="radio" name="knock" value="0"> No<br>
      </form>
      <br>
      <h5>Did you hand out literature?</h5>
      <form action="">
        <input type="radio" name="literature" value="1"> Yes<br>
        <input type="radio" name="literature" value="0"> No<br>
      </form>
      <br>
      <h5>Did they sign petition?</h5>
      <form action="">
        <input type="radio" name="petition" value="1"> Yes<br>
        <input type="radio" name="petition" value="0"> No<br>
      </form>
      <br>
      <br>
      <h2> Extra Contact</h2>
      <div class="extraContact">
        <label for="inputEmail">Email: </label>
        <input type="email" class="form-control" id="extraEmail" placeholder="email">
        <label for="inputPhone">Phone: </label>
        <input type="phone" class="form-control" id="extraPhone" placeholder="(***)  *** - ****">
      </div>

      <br>
          
    <button type="submit" class="btn btn-default" id="add-interactions">Submit</button>

           
              </div>
            </div>
          </div>
        </div>
        
      
 
