<div class="container-fluid" id="main-content">
    <div class="more-bottom-margin text-center">
      <a href="/interactions/{{status.voterId}}">
        <button type="button" class="btn btn-danger" id="button-status">Knock This Voter</button>
      </a>
    </div>
    <div class="card-border" id="status-border">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    <div class="row">
                        <div class="col-5">
                            <div class="flex-table address">
                            <h4><id="party">{{status.party}} - </id></h4>
                            <h4><id="status">{{status.status}}</id></h4>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="flex-table address">
                            <h4><div id="firstName">{{status.firstName}}</div></h4>
                            <h4><div id="middleName">{{status.middleName}}</div></h4>
                            <h4><div id="lastName">{{status.lastName}}</div></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-7">
                            <div class="flex-table address">
                                <h4><id class="streetNumber">{{status.streetNum}}</id></h4>
                                <h4><id class="streetName">{{status.streetName}}</id></h4>
                                <h4><id class="unitNum">{{status.unitNum}},</id></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div class="flex-table address">
                                <h4><id class="city">{{status.city}},</id></h4>
                                <h4><id class="zip">{{status.zip}}</id></h4>
                            </div>
                        </div>
                    </div>
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h5>District Information</h5>
                <table class="table table-sm text-center">
                    <thead>
                    <tr>
                        <th>District</th>
                        <th>CD</th>
                        <th>LD</th>
                        <th>MUNI</th>
                        <th>Ward</th>
                        <th>Freeholder</th>
                        <th>School Dist</th>
                        <th>Regional School</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{status.district}}</td>
                        <td>{{status.congDist}}</td>
                        <td>{{status.legDist}}</td>
                        <td>{{status.municipality}}</td>
                        <td>{{status.ward}}</td>
                        <td>{{status.freeholder}}</td>
                        <td>{{status.schoolDist}}</td>
                        <td>{{status.regionalSchool}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h5>Voting History</h5>
                <table class="table table-sm text-center">
                    <thead>
                        <tr>
                            <th class="text-left">Election Name</th>
                            <th class="text-left">Type</th>
                            <th>Category</th>
                            <th>Ballot Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--   Voter History  --> 
                    {{#each history}}
                    <tr>
                        <td class="text-left">{{electionName}}</td>
                        <td class="text-left">{{electionType}}</td>
                        <td>{{electionCategory}}</td>
                        <td>{{ballotType}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h5>Interactions</h5>
                <table class="table table-sm text-center">
                    <thead>
                        <tr>
                            <th class="text-left">Date</th>
                            <th>Knocked</th>
                            <th>Literature Dropped</th>
                            <th>Petition Signed</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--   Interaction History  --> 
                        {{#each interactions}}
                        <tr>
                            <td class="text-left">{{formatDate updatedAt 'MMMM DD, YYYY'}}</td>
                            <td>
                            {{#if knocked}}
                            Yes
                            {{else}}
                            No
                            {{/if}}
                        </td>
                        <td>
                            {{#if litDropped}}
                            Yes
                            {{else}}
                            No
                            {{/if}}
                        </td>
                        <td>
                            {{#if petitionSigned}}
                            Yes
                            {{else}}
                            No
                            {{/if}}
                        </td>
                            <td class="text-left">{{email}}</td>
                            <td class="text-left">{{phone}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="more-bottom-margin text-center">
      <a href="/interactions/{{status.voterId}}">
        <button type="button" class="btn btn-danger" id="button-status">Knock This Voter</button>
      </a>
    </div>

</div>