
<div class="container" id="main-content">
 <div class="card">
            <div class="card-block" >
                <h5>Interactions</h5>
<table class="table table-sm text-center" id="interactions">
  <thead>
    <tr>
      <th scope="col" class="text-left">Date</th>
      <th scope="col" class="text-left">Name</th>
      <th scope="col">Knocked</th>
      <th scope="col">Literature Dropped</th>
      <th scope="col">Petition Signed</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {{#each interactions}}
    <tr>
      <td class="text-left">{{formatDate updatedAt 'MMMM DD, YYYY'}}</td>
      <td class="text-left">{{firstName}} {{lastName}}</td>
      <td>
        {{#if knocked}}
          Yes
        {{else}}
          No
        {{/if}}
      </td>
       <td>
        {{#if litDropped}}
          Yes
        {{else}}
          No
        {{/if}}
      </td>
      <td>
        {{#if petitionSigned}}
          Yes
        {{else}}
          No
        {{/if}}
      </td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
            </div>
        </div>
</div>


   